# extra requirements to run various data producers, cosumers or interact with specific drones
-r requirements-base.txt
# drones, robots, mocks (video), etc.
parrot-olympe==7.7.5
# data or actions producers
opencv-python-headless==4.11.0.86
torch[cpu]>=2.8.0
ultralytics==8.3.229
